* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth
 }

body {
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(50% 123.47% at 50% 50%, #ebb507 0%, #4d1941 100%), linear-gradient(121.28deg, #0e294d 0%, #3b0c0c7a 100%), linear-gradient(360deg, #0029FF 0%, #ee6a1ec7 100%), radial-gradient(100% 164.72% at 100% 100%, #001aff 0%, #c78fecd5 100%), radial-gradient(100% 148.07% at 0% 0%, #4458c7ce 0%, #8a82167a 100%);
background-blend-mode: screen, color-dodge, overlay, difference, normal;
    margin: 0 auto;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3.5rem;
    margin: 1rem;
    font-family: 'Laila', serif;
    letter-spacing: 0.1em;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 1rem;
}

ul li a {
    color: #3b8760;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Karla', sans-serif;
}

ul li a:hover {
    color: #154616;
}

main {
    padding: 1rem;
    max-width: 82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 2rem;
    font-family: 'Laila', serif;
    padding-top: 1rem;
    margin:0;
}

main h3 {
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Laila', serif;
}

main p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;

}

section {
    padding: 1vw;
    max-width: 100%;
    margin: 0 auto;
}

.tableDescription {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 0.9rem;
}

.tableCard {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.7rem;
    margin: 0.8rem auto;
}

table {
    margin: 2em;
    min-width: 96%;
}

th {
    padding: 0.9rem;
    text-align: center;
    border: #3a3475 1px solid;
    border-radius: 3px;
    font-size: 1.2rem;
    margin: 1rem;
    font-family: 'Laila', serif;
}

table td:nth-child(odd) {
    border: 1px solid rgba(53, 50, 48, 0.5);
    background-color: rgba(53, 50, 48, 0.5);
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-style: bold;
}

td {
    padding: 0.8rem;
    text-align: center;
    border: #3a3475 1px solid;
    overflow: wrap;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
}

caption {
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
}

footer {
    background-color: #fff;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 100%;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer ul li {
    margin: auto 0.5em;
    text-align: center;
}